
.flow{
    display: flow-root!important;
}
button{
    margin-bottom: 10px;
}
.btn-success{
    background-color: #104b92;
    border-color: #202f20;     
}
.btn-success:hover {
    color: #fff;
    background-color: #1b75db;
    border-color: #202f20;
}
td,tr{
    text-align:center;
    border: 1px;
}
table,tbody{
    margin-left:auto; 
    margin-right:auto;
}
table td{
    border: 1px solid black;
  }